/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of reset*/

body {
    font-family: 'Ubuntu', sans-serif;
    background: #eeeeee;
}

body #container
{ 
    width: 100%;
    margin: 0 auto;
    padding:0;
    background-image: url("img/bg-falls.jpg");
    background-repeat:no-repeat;
    background-position:center;
}

/*header and navigation*/

header {
    width:1000px;
    margin: 0 auto;
    background: #ffffff;
}

header nav {
     clear:both;
     background: #212121;
     border-top: 1px solid black; 
     border-bottom: 1px solid black;     
 }

header #logo {
     padding:25px 0 35px 20px;
     float:left;
}

#rightHeader {
    float:right;
    padding-top:20px;
    margin-right:35px;
}

#rightHeader img {
    padding-right:5px;
}

#rightHeader p {
    font-size:12px;
    padding-top:5px;
}

#login {
    border-bottom:1px solid #c6c6c6;
    padding-bottom:10px;
}

#login .text {
    border: 1px solid #212121;
    border-radius:3px;
    width:125px;
    padding:5px 0 5px 10px;
    margin-right:20px;
    color: #c6c6c6;
    font-size:14px;
    font-weight:lighter;
    font-family:Ubuntu;
}

#login #button {
    background: rgba(255,223,117,1);
    background: -moz-linear-gradient(top, rgba(255,223,117,1) 0%, rgba(254,207,38,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,223,117,1)), color-stop(100%, rgba(254,207,38,1)));
    background: -webkit-linear-gradient(top, rgba(255,223,117,1) 0%, rgba(254,207,38,1) 100%);
    background: -o-linear-gradient(top, rgba(255,223,117,1) 0%, rgba(254,207,38,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,223,117,1) 0%, rgba(254,207,38,1) 100%);
    background: linear-gradient(to bottom, rgba(255,223,117,1) 0%, rgba(254,207,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdf75', endColorstr='#fecf26', GradientType=0 );
    border:1px solid #e1af02;
    border-radius:3px;
    width:85px;
    padding:5px 0 4px 0;
    color: #212121;
    text-shadow: 0px 2px 2px rgba(252, 246, 202, 0.5);
    font-size:14px;  
}   

#mainNav li {
    display:block;          
}

#mainNav li a:hover {
    background: rgba(56,56,56,1);
    background: -moz-linear-gradient(top, rgba(56,56,56,1) 0%, rgba(93,93,93,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(56,56,56,1)), color-stop(100%, rgba(93,93,93,1)));
    background: -webkit-linear-gradient(top, rgba(56,56,56,1) 0%, rgba(93,93,93,1) 100%);
    background: -o-linear-gradient(top, rgba(56,56,56,1) 0%, rgba(93,93,93,1) 100%);
    background: -ms-linear-gradient(top, rgba(56,56,56,1) 0%, rgba(93,93,93,1) 100%);
    background: linear-gradient(to bottom, rgba(56,56,56,1) 0%, rgba(93,93,93,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#5d5d5d', GradientType=0 );
}


#mainNav li a:first-child {
    border-left:1px solid #212121;
}

#mainNav li a {
    text-decoration:none;
    color:#ffffff;
    padding: 15px 25px;
    border-right:1px solid #212121;
    font-size:18px;
    float:left;   
}

#mainNav {
    height: 48px; 
    background: rgba(48,48,48,1);
    background: -moz-linear-gradient(top, rgba(48,48,48,1) 0%, rgba(29,29,29,1) 46%, rgba(18,18,18,1) 71%, rgba(18,18,18,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,48,48,1)), color-stop(46%, rgba(29,29,29,1)), color-stop(71%, rgba(18,18,18,1)), color-stop(100%, rgba(18,18,18,1)));
    background: -webkit-linear-gradient(top, rgba(48,48,48,1) 0%, rgba(29,29,29,1) 46%, rgba(18,18,18,1) 71%, rgba(18,18,18,1) 100%);
    background: -o-linear-gradient(top, rgba(48,48,48,1) 0%, rgba(29,29,29,1) 46%, rgba(18,18,18,1) 71%, rgba(18,18,18,1) 100%);
    background: -ms-linear-gradient(top, rgba(48,48,48,1) 0%, rgba(29,29,29,1) 46%, rgba(18,18,18,1) 71%, rgba(18,18,18,1) 100%);
    background: linear-gradient(to bottom, rgba(48,48,48,1) 0%, rgba(29,29,29,1) 46%, rgba(18,18,18,1) 71%, rgba(18,18,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#121212', GradientType=0 );
}

#mainNav li #search {
    margin-top:10px; 
    width:200px;
    font-size:18px;
    font-weight:lighter;
    color:#c6c6c6;
    padding:5px 0 2px 8px;
    border-radius:3px;
    border:none;
    margin-left:15px; 
    background-image:url(img/magnifier.png);
    background-repeat:no-repeat;
    background-position: 180px 4px;
    font-family:Ubuntu;
}

/*main content non-reusable*/

#topMain {
    width:1000px;
    margin:0 auto;
    
}

#booking li {
    display:inline;
    text-decoration:none;    
}

.img {
    float:left;
}

#advert {
    margin: 0 auto;
    width:375px;
    padding-top:110px;

}

.mediumIta {
    font-size:24px; 
    font-style:italic;
    font-weight:normal;
    padding-bottom:10px;
}

#boldIta {
    font-size:48px;
    font-style:italic;
    font-weight:bold;
    padding-bottom:10px;
    
}

.ita24 {
    font-size:24px;
    font-style:italic;
    font-weight:normal;
}

#numberIta {
    font-size:48px;
    padding-top:20px;
}

.bookNow {
    background: rgba(254,221,113,1);
    background: -moz-linear-gradient(top, rgba(254,221,113,1) 0%, rgba(254,221,113,1) 57%, rgba(254,206,34,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,221,113,1)), color-stop(57%, rgba(254,221,113,1)), color-stop(100%, rgba(254,206,34,1)));
    background: -webkit-linear-gradient(top, rgba(254,221,113,1) 0%, rgba(254,221,113,1) 57%, rgba(254,206,34,1) 100%);
    background: -o-linear-gradient(top, rgba(254,221,113,1) 0%, rgba(254,221,113,1) 57%, rgba(254,206,34,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,221,113,1) 0%, rgba(254,221,113,1) 57%, rgba(254,206,34,1) 100%);
    background: linear-gradient(to bottom, rgba(254,221,113,1) 0%, rgba(254,221,113,1) 57%, rgba(254,206,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fedd71', endColorstr='#fece22', GradientType=0 );
  border-style: solid;
  border-width: 1px;
  border-color: #e5cf7a;
  border-radius: 4px;
  width:85px;
  box-shadow: 1px 1px 3px #313131;
  font-family:Ubuntu;
  font-style:italic;
  font-weight:bold;
  font-size:14px;  
  padding:3px 3px 5px;
  text-shadow: 0px 1px 1px rgba(252, 246, 202, 0.392);
  margin-top:20px;
  margin-bottom:90px; 
}


/* second nav and flight bookings*/

#bookingNav {
    background:#ffffff;
    font-size:14px;
}

#booking {
    height: 49px; 
    border: 1px solid #212121;
    background: rgba(48,48,48,1);
    background: -moz-linear-gradient(top, rgba(48,48,48,1) 0%, rgba(29,29,29,1) 46%, rgba(18,18,18,1) 71%, rgba(18,18,18,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,48,48,1)), color-stop(46%, rgba(29,29,29,1)), color-stop(71%, rgba(18,18,18,1)), color-stop(100%, rgba(18,18,18,1)));
    background: -webkit-linear-gradient(top, rgba(48,48,48,1) 0%, rgba(29,29,29,1) 46%, rgba(18,18,18,1) 71%, rgba(18,18,18,1) 100%);
    background: -o-linear-gradient(top, rgba(48,48,48,1) 0%, rgba(29,29,29,1) 46%, rgba(18,18,18,1) 71%, rgba(18,18,18,1) 100%);
    background: -ms-linear-gradient(top, rgba(48,48,48,1) 0%, rgba(29,29,29,1) 46%, rgba(18,18,18,1) 71%, rgba(18,18,18,1) 100%);
    background: linear-gradient(to bottom, rgba(48,48,48,1) 0%, rgba(29,29,29,1) 46%, rgba(18,18,18,1) 71%, rgba(18,18,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#121212', GradientType=0 );
}

#topMain nav {
background: #212121;
border-top:1px solid #212121;
}

#booking li a {
    text-decoration:none;
    color:white;
    text-transform:uppercase;
    padding: 15px 48px;
    border-left:1px solid #212121;
    font-size:18px;
    float:left;
    
    }

#booking li a:hover {
    background: rgba(56,56,56,1);
    background: -moz-linear-gradient(top, rgba(56,56,56,1) 0%, rgba(93,93,93,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(56,56,56,1)), color-stop(100%, rgba(93,93,93,1)));
    background: -webkit-linear-gradient(top, rgba(56,56,56,1) 0%, rgba(93,93,93,1) 100%);
    background: -o-linear-gradient(top, rgba(56,56,56,1) 0%, rgba(93,93,93,1) 100%);
    background: -ms-linear-gradient(top, rgba(56,56,56,1) 0%, rgba(93,93,93,1) 100%);
    background: linear-gradient(to bottom, rgba(56,56,56,1) 0%, rgba(93,93,93,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#5d5d5d', GradientType=0 );
    }

#booking li a img {
    padding-right:5px;
}

.datepicker {
    width:115px;
    color:#4e4e4e;
    border: 1px solid #212121;
    border-radius:3px;    
    padding:3px 0 3px 10px;    
    font-size:14px;
    font-weight:lighter;
    font-family:Ubuntu;
    background-image:url("img/calendar.png");
    background-repeat:no-repeat;
    background-position: 105px 4px;
    margin-left:20px;
}

.drop {
    width:195px;
    color:#4e4e4e;
    border: 1px solid #212121;
    border-radius:3px;    
    padding:3px 0 3px 10px;    
    font-size:14px;
    font-weight:lighter;
    font-family:Ubuntu;
    margin:25px 0 25px 20px;    
}

#multiCity {
    margin-left:20px;
}



#bottomMain {
width:1000px;
margin: 0 auto;

}

.img {
float:left;
width:230px;
margin-right:26px;
margin-top:40px;
color:#ffffff;

}

.img .bookNow {
    
    margin:0;
    margin-bottom:10px;
    float:right;
}

.img:last-child {
    margin-right:0;
}

#img1 {
background-image:url("img/toronto.jpg");
background-repeat:no-repeat;
margin-bottom:30px;
}
#img2 {
background-image:url("img/stjohn.jpg");
background-repeat:no-repeat;
}
#img3 {
background-image:url("img/calgary.jpg");
background-repeat:no-repeat;
}
#img4 {
background-image:url("img/vancouver.jpg");
background-repeat:no-repeat;
}

.ita30 {
    font-size:30px;
    font-style:italic;
    font-weight:normal;
    
}

.ita14 {
    font-size:14px;
    font-style:italic;
    font-weight:normal;
}

.section {
margin-top:116px;
padding: 0 10px 10px 5px;
background-color: rgba(0, 0, 0, 0.7);
height:95px;
}

/*About us page style*/
#title {
    width:1000px;
    margin:0 auto;
    padding: 35px 0 20px 20px;
    font-size: 36px;
}

#whiteBG {
    width:1000px;
    margin:0 auto;
    background:#ffffff;
    height:700px;
    margin-bottom:50px;
}

#left {
width:520px;
float:left;
padding-left:30px;
padding-top:75px;
}

    #left article {
    border-bottom: 1px solid #c6c6c6;
    }

    #left h2 {
    font-size:18px;
    font-weight:bold;
    padding-top:25px;
    padding-bottom:25px;
    }
    #left p {
    font-size:12px;
    padding-bottom:20px;
    line-height:1.3;
    }

#right {
width:365px;
float:right;
font-size:18px;
padding-top:75px;
}

#right h2 {
    font-size:18px;
    font-weight:bold;
    padding-top:25px;
    padding-bottom:25px;
    }

    #right a {
    text-decoration:none;
    color:black;
    
    }

    #right li {
    padding-bottom:10px;
    }




/*footer reusable*/

footer {
clear:both;
background:#121212;
color:#c6c6c6;
height:200px;

}

#wrapFooter {
width:1000px; 
margin: 0 auto;

}

.column {
float:left;
width:230px;
margin-right:26px;
margin-top:25px;

}

.column:last-child {
margin-right:0;    
}

.column li a {
text-decoration:none;
color:#c6c6c6;
font-size:12px;

}

.column img {
padding-right:5px;
}

.column p {
margin-bottom:25px;
}

/*mobile*/

@media (min-width : 820px) and (max-width : 1100px) {

    header {
    width:100%;
    }

    #rightHeader {
    float:right;
    padding-bottom:20px;
    padding-left:20px;
    }

    header #logo {
    width:40%;
    }

    #mainNav {
    display:none;
    }

    body #container {
    background-image:none;
    }

    #advert {
    display:none;
    }

    #bottomMain {
    width:90%;
    }     

    .img {
    margin-left:20px;
    margin-right:0;
    }

    #img1 {
    margin-bottom:0;
    }

    #booking li {
    display:block;
    }


    #topMain {
        width: 90%;        
    }

    #bottomMain {
    width:90%;
    }

    #booking {
        height:100px;
    }

    #bookingNav {
        padding:10px;
    }

   #wrapFooter {
    width:100%;
    margin-left:20px;
    }

    footer {
    height:400px;
    }

    .drop {
       
        margin-top:20px;
        margin-bottom:0;
    }

    #whiteBG {
    width:90%;
    }

    #title {
    width:90%;
    }

    #left {
    width:70%;
    }

    #right {
    display:none;
    }
      

}

@media (min-width : 300px) and (max-width : 820px) {
    header {
    width:100%;
    }

    #rightHeader {
        float:left;
        padding-bottom:10px;
        padding-left:20px;
    }
    header #logo {
    padding-bottom:10px;
    width:60%;
    }

    #mainNav {
    display:none;
    }

    body #container {
    background-image:none;
    }

    #advert {
    display:none;
    }

    #bottomMain {
    width:100%;
    } 
    #img1 {
    margin-bottom:0;
    }

    .img {
    margin-left:20px;
    margin-right:0;
    }
    #topMain {
        width: 90%;        
    }

    #bottomMain {
    width:90%;
    
    }

     #booking {
        height:250px;
    }
    #booking {
        display:block;
    }

    #bookingNav {
        padding:10px;
    }

     #wrapFooter {
    width:100%;
    margin-left:20px;
    }

    footer {
    height:600px;
    }

    .drop {
        width:60%;
        margin-top:20px;
        margin-bottom:0;
    }

    .datepicker {
   
    margin-top:20px;
    }
    #whiteBG {
    width:90%;
    height:800px;
    }

    #left {
    width:70%;
    }

    #right {
    display:none;
    }
}